       {% load static %}
       <!-- Slider Area Start -->
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                <a href="shop.html"> <img src='{% static "img/slider/5.jpg" %}' data-thumb='{% static "img/slider/5.jpg" %}' alt="" title="#slider-1-caption1"/></a>
                                <a href="shop.html"><img src='{% static "img/slider/6.jpg" %}' data-thumb='{% static "img/slider/6.jpg" %}' alt="" title="#slider-1-caption2"/></a>
                            </div>
                            <!-- Slider Background  Image Start-->
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s" data-wow-delay="0s">Big Sale</h4>
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">Hand Tools <br>Power Saw Machine</h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                            <a class="button slider-btn" href="shop.html">Shop Now</a>
                                          </div>
                                    </div>
                                </div>
                            </div>  
                            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content slide-2">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="1s" data-wow-delay="1s">Big Sale</h4>
                                        <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s" data-wow-delay="2s">Hand Tools <br>Power Saw Machine</h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="3s">
                                            <a class="button slider-btn" href="shop.html">Shop Now</a>                    
                                        </div>
                                    </div>       
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-4">
                         <!-- Single Banner Start -->
                        <div class="single-banner zoom mb-20">
                            <a href="#"><img src='{% static "img/banner/9.jpg" %}' alt="slider-banner"></a>
                        </div>
                        <!-- Single Banner End -->
                        <!-- Single Banner Start -->
                        <div class="single-banner zoom">
                            <a href="#"><img src='{% static "img/banner/10.jpg" %}' alt="slider-banner"></a>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End --> 